@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Zen+Kaku+Gothic+Antique&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(206, 204, 204);
    overflow: hidden;
}

body {
    font-family: Zen Kaku Gothic Antique, sans-serif;
    font-weight: 400;
    background-color: #001a35;
    color: rgb(206, 204, 204);
}

/* heading styles and logo */

h1, h2{
    font-family: Cinzel, sans-serif;
    letter-spacing: 2px;
}

h1{
    color: #001020;
}

h2{
    color: rgb(206, 204, 204);
}

#logo{
    float: left;
    font-size: 275%;
    padding-left: 50px;
}

/* navigation */

.navigation{
    display: flex;
}

#controls{
    font-size: 125%;
    letter-spacing: 4px;
    float: right;
    padding-right: 50px;
}

#controls, #logo {
    line-height: 75px;
}

#controls ul{
    margin-right: 30px;
}

#controls li {
    float: left;
    margin-right: 25px;
    list-style-type: none;
  }

#controls a{
    text-decoration: none;
    color: #001020;
}

#controls a:hover{
    border-bottom: 1px solid #001020;
}

.active{
    border-bottom: 1px solid #001020;
}

/* hero image */

#hero-image{
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
    justify-content:center;
    display: flex;
    align-items: center;
    font-size: 40px;
}

#welcome-message{
    color: rgb(206, 204, 204);
}

.btn{
    display: block;
    font-size: 20px;
    padding: 16px 20px;
    border-radius: 20px;
    background-color: rgb(206, 204, 204);
    color: #001020;
    cursor: pointer;
    margin-left: 350px;
    margin-top: 25px;
}

.btn a{
    text-decoration: none;
    color: #001020;
}

.btn:hover{
    background-color: #c0d0e0;
}

/* about section for site and game */

#about{
    height: 300px;
}

#about-site{
    padding-top: 30px;
    width: 45%;
    float: left;
    height: 300px;
}

#about-halo{
    padding-top:30px;
    width: 45%;
    float: right;
    height: 300px;
}
hr{
    border-bottom: solid 1px rgb(206, 204, 204);
    margin: 5px;
}

#about-site-heading{
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    font-size: 125%;
}

#about-halo-heading{
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    font-size: 125%;
}

#about-halo-heading a{
    color:rgb(119, 179, 135);
    text-decoration: none;
}

#about-halo-heading a:hover{
    color:rgb(56, 110, 70);
    text-decoration: underline;
}

/* footer content */
footer{
    text-align: center;
    height: 30px;
}

.social-links li{
    display: inline;
}

.social-links i{
    font-size: 175%;
    margin: 0 auto;
    padding: 15px;
    color: rgb(206, 204, 204);
}