@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Zen+Kaku+Gothic+Antique&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(206, 204, 204);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header a {
    text-decoration: none;
}

body {
    font-family: Zen Kaku Gothic Antique, sans-serif;
    font-weight: 400;
    background-color: #001a35;
    color: rgb(206, 204, 204);
}

/* heading styles and logo */

h1,
h2 {
    font-family: Cinzel, sans-serif;
    letter-spacing: 2px;
}

h1 {
    color: #001020;
}

h2 {
    color: rgb(206, 204, 204);
}

#logo {
    font-size: 275%;
}

/* navigation */

.navigation {
    display: flex;
}

#controls {
    font-size: 125%;
    letter-spacing: 4px;
}

#controls,
#logo {
    line-height: 75px;
}

#controls li {
    float: left;
    list-style-type: none;
}

.item {
    padding-left: 20px;
}

#controls a {
    text-decoration: none;
    color: #001020;
}

#controls a:hover {
    border-bottom: 1px solid #001020;
}

.active {
    border-bottom: 1px solid #001020;
}

/* hero image */

#hero-image {
    height: 800px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 40px;
}

#welcome-message {
    color: rgb(206, 204, 204);
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    display: block;
    font-size: 20px;
    padding: 16px 20px;
    border-radius: 20px;
    background-color: rgb(206, 204, 204);
    color: #001020;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: #001020;
}

.btn:hover {
    background-color: #c0d0e0;
}

/* about section for site and game */

#about {
    height: 65%;
}

#about-site {
    padding-top: 30px;
    width: 500px;
    /* height: 300px; */
    flex-shrink: 0;
}

#about-halo {
    padding-top: 30px;
    width: 500px;
    /* height: 300px; */
    flex-shrink: 0;
}

/* flex continer will allow the content blocks to stack properly at different screen sizes */

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
}

hr {
    border-bottom: solid 1px rgb(206, 204, 204);
    margin: 5px;
}

#about-site-heading {
    line-height: 20px;
    font-size: 125%;
}

#about-halo-heading {
    line-height: 20px;
    font-size: 125%;
}

#about-halo-heading a {
    color: rgb(119, 179, 135);
    text-decoration: none;
}

#about-halo-heading a:hover {
    color: rgb(56, 110, 70);
    text-decoration: underline;
}

/* timeline */

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.timeline {
    width: 90%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline h2 {
    text-decoration: underline;
}

.timeline ul {
    list-style: none;
}

.timeline ul li {
    padding: 20px;
    background-color: #001020;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* halo infinite section */

#infinite {
    justify-content: center;
    text-align: center;
    font-size: larger;
}

#infinite h2{
    text-decoration: underline;
}

#infinite-art {
    background: url(../images/halo-infinite.jpg) no-repeat center center;
    height: 600px;
    width: 100%;
}

/* newsletter page style rules */

#newsletter {
    height: 65%;
}

#newsletter-intro {
    padding-top: 30px;
    width: 800px;
    flex-shrink: 0;
}

/* media players */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;
}

/* footer content */
footer {
    text-align: center;
    height: 40px;
    margin-top: 30px;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 175%;
    margin: 0 auto;
    padding: 15px;
    color: rgb(206, 204, 204);
}


/* media queries for smaller screen sizes */
/* each block will scale the welcome message and hero image to avoid wrap and keep the screen centered */

@media screen and (min-width: 320px) {
    #welcome-message {
        font-size: 20px;
    }

    #hero-image {
        height: 200px;
    }

    #about {
        font-size: 12px;
    }
}

@media screen and (min-width: 620px) {
    #hero-image {
        height: 300px;
    }

    #welcome-message {
        font-size: 40px;
    }

    #about {
        font-size: 14px;
    }
}


/* media queries to make navbar position correctly on smaller devices  */
@media screen and (max-width:800px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    #newsletter-intro{
        width: 50%;
    }

    #about-site{
        width: 66%;
    }
    #about-halo{
        width: 66%;
    }


}

@media screen and (min-width:800px) {
    .edge {
        padding-right: 20px;
    }

    #logo {
        padding-left: 20px;
    }
}

@media screen and (min-width:900px) {
    #hero-image {
        height: 400px;
    }

    #welcome-message {
        font-size: 40px;
    }

    #about {
        font-size: 18px;
    }
}

@media screen and (min-width:1040px) {
    #hero-image {
        height: 500px;
    }

    #welcome-message {
        font-size: 50px;
    }
}