@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Zen+Kaku+Gothic+Antique&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Zen Kaku Gothic Antique, sans-serif;
    font-weight: 400;
}